@import url("normalize.css");

.header {
  width: 100%;
  max-width: 2011px;

  height: 84px;
  background: #007765;
  position: fixed;
}

.logo {
  position: absolute;
  width: 184px;
  height: 45px;
  left: 501px;
  top: 20px;
}

nav {
  float: right;
}

nav ul {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
}

nav li {
  display: inline-block;
}

.container {
  box-sizing: border-box;
  max-width: 1219px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 55px;
  padding-right: 55px;
}

.here {
  padding-top: 244px;
  padding-bottom: 160px;
  background-image: url("image.png");
  background-size: cover;
  background-position: center center;
}

.here__message {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 84px;
  text-align: center;

  color: #ffffff;
}

.the__problem {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  color: #007765;
}

p {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
  color: #000000;
}

.problem {
  padding-top: 16px;
  padding-bottom: 92px;
  padding-left: 55px;
  padding-right: 54px;
}

.hero {
  padding-top: 128px;
  padding-bottom: 128px;
  background-image: url("image1.png");
  background-size: cover;
  background-position: center center;
}

.hero__message {
  font-family: Roboto, sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #fff;
}

.ppc {
  width: 110px;
  height: 110px;
  float: left;
  margin: 10px 48px 10px auto;
}

.team {
  display: inline-block;
  width: 350px;
  height: 283px;
  margin: 32px 0px 0px 10px;
}

.footer {
  width: 100%;
  max-width: 2011px;

  height: 176px;
  background: #333333;
}

.mesage_footer {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  width: 540px;
  height: 64px;
  
  margin-right: auto;
  
  margin-left: auto;
  padding-top: 50px;
}

a {
  color: #FFFFFF;
}