.inner {
  width: 70%;
  margin: auto;
}
h1,
h2,
h3 {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 1.5em;
}
h1 {
  font-size: 32px;
}
table {
  border: 1px solid black;
}
th,
td {
  border: 1px solid black;
}
caption {
  border: 4px double black;
}
figcaption {
  font-style: italic;
}
.img {
  float: right;
  padding-left: 10px;
  padding-bottom: 10px;
}
